<h1>ホーム</h1>
<div class="home">
    <h2>あなたに合うカクテルを見つけませんか？</h2>
    <div class="how-to-use">
        <h2>カクテルの検索</h2>
        <div class="image">
            <%= image_tag 'search0.png', :size => '473x93'%>
            <p>サイトの右上にある項目から検索ページをクリックしましょう</p>
        </div>
        <div class="image2">
            <div class="image">
                <%= image_tag 'search2.png', :size => '640x430'%>
                <p>検索結果が出てきます、探しているカクテルなどを見つけてみましょう</p>
            </div>
            <div class="image">
                <%= image_tag 'search3.png', :size => '640x430'%>
                <p>検索したカクテルの詳細を見ることができます。</p>
            </div>
        </div>
    </div>
    <div class="how-to-register">
        <h2>カクテルの登録</h2>
    </div>
</div>