body{
    background-color: #F4A460;
}


h1{color:#37bd}

.container{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px auto 0;
    background-color: #FFFFFF;
}

.cocktail-colom{
    display: flex;
    justify-content: space-around;

}

.cocktail-list{
    display: flex;
    justify-content: space-around;
}