.guest-login{
    display: flex;
    padding: 20px;
    .guest-login-text{
        margin-left: 20px;
        background-color: #F0F0F2;
        margin-bottom: 0rem;
        text-align: center;
        padding: 5px 0;
    }
}