.guest-login{
    padding: 20px;
    text-align: center;
    .btn-info{
        margin: 15px auto;
    }
    .guest-login-text{
        margin-left: 20px;
        background-color: #F0F0F2;
        margin-bottom: 0rem;
        width: 50%;
        padding: 5px 0;
        margin: auto;
    }
}