.home{
    background-color: #F0F0F2;
    text-align: center;
}
.localhost{
    background-color: #bbbbf1;
}
.home h2{
    padding-top: 20px;
}

.home .image{
    margin: 0PX 10px 20px 10px;
}

.home .image2{
    display: flex;
}

.home .image p{
    padding: auto;
    font-size: 25px;
    margin-bottom: 0rem;
    display: inline-block;
}