.title_ucer_cocktail{
    color: #ffffff;
}

.title_like_cocktail{
    color: #ffffff;
    margin: 10px 0px 10px 0px;
}

h3{
    text-align: center;
}
.user_cocktail{
    background-color: #003333;
    padding-top: 10px;
    padding-bottom: 20px;
    .header{
        flex-direction : column;
    }
}

.like_cocktail{
    background-color: #770000;
    padding-top: 5px;
    padding-bottom: 20px;
}


.new_user{
    text-align: center;
    width: 50%;
    margin: 10px auto ;
    color: #fff;
    div{
        margin: 10px auto ;
        font-size: 150%;
    }
}
