.title_ucer_cocktail{
    color: #ffffff;
}

.title_like_cocktail{
    color: #ffffff;
    margin: 10px 0px 10px 0px;
}

.user_cocktail{
    background-color: #003333;
    padding-bottom: 20px;
}

.like_cocktail{
    background-color: #770000;
    padding-bottom: 20px;
}