<footer>
<div class="app-title navbar navbar-expand-md navbar-light bg-light">
  <nav>
    <ul class="navbar-nav ml-auto">
    <!--
      <li><%= link_to "サイトについて",   '#' %></li>
      <li><%= link_to "お問い合わせ", '#' %></li>
      -->
    </ul>
  </nav>
  <small>©2020 Nishio Ryota</small>
  </div>
</footer>